@import "tailwindcss";

@theme {
  /* Menambahkan animasi marquee ke tema Tailwind */
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
}
html {
  scroll-behavior: smooth;
}
.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}
section {
  scroll-margin-top: 80px;
}
